<form name="EcomSearch" method="get" class ="form-inline" role ="form">
    <div class="form-group">
<input type="hidden" name="ID" value="@GetValue("Ecom:Search:Page.ID")">
        </div>
    <div class="form-group">
<input type="text" name="eComQuery" value="@GetValue("Ecom:Search.Query")" class ="form-control" placeholder="Search here"> 
        </div>
    <div class="form-group">
<input type="submit" value="Search" class ="btn btn-default">

        </div>
</form>
