@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<!--@MasterPageFile(master/main.cshtml)-->
<!--@Title(Frontpage)-->

<div class="dwcontent row" id="featured" title="Featured content"></div>

<div class="dwcontent row" id="main" title="Main content"></div>
