<div class="paragraph">
	@if (!string.IsNullOrWhiteSpace(GetString("ParagraphText"))) {
		<div class="text">@GetString("ParagraphText")</div>
	}
	@if (!string.IsNullOrWhiteSpace(GetString("ParagraphModule"))) {
		<div class="module">@GetString("ParagraphModule")</div>
	}
</div>
