<!DOCTYPE html>

@{
	var area = new {
		Name = Pageview.Area.get_Value("AreaName"),
		FirstPageID = Pageview.Area.get_Value("AreaFirstPage")
	};
}

<html>
	<head>
		<title>Bootstrap</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
		@GetValue("Stylesheets")
		<!--@Snippet(StyleSheet)-->
		@GetValue("Javascripts")
		<!--@Snippet(JavaScript)-->
	</head>
	<body>
		<!--@ContentPlaceholder-->

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<!--@Snippet(JavaScriptBottom)-->
	</body>
</html>
